#root {
  background-color: #282c34;
  height: 100vh;
  color: white
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  display: flex;
  color: azure;
  flex-direction: column;
  background-color: #282c34;
}

.photos-container {
  display: flex;
}

ol {
  direction: rtl;
  width: 250px;
  height: 2300px;
  overflow-y: scroll;
}

ol li {
  direction: ltr;
  text-align: left;
}

ul[role=navigation] {
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

select {}